# Ignore Visual Studio files
.vs/
*.user
*.suo
*.vscode/

# Build results
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.exe
*.dll
*.log

# NuGet
*.nupkg
packages/

# Others
*.cache
*.db
*.opendb
*.mdf
*.ldf
# Cấu hình chứa thông tin bí mật (ClientId, Secret, Email Password)
appsettings.json
appsettings.Development.json

# Nếu bạn dùng User Secrets (Visual Studio tự tạo ở folder ngoài, nhưng thêm vào cho chắc)
secrets.json

# Các file môi trường khác
.env