@* /Areas/Admin/Views/Shared/_Footer.cshtml *@

<footer class="footer">
    <div class="container-fluid">
        <div class="copyright">
            &copy; @DateTime.Now.Year <b>ClothesShop</b> All rights reserved.
        </div>
    </div>
</footer>
