<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/Content/clientpage/assets/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/clientpage/assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/clientpage/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/clientpage/assets/css/style.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <!-- Topbar Start -->
    <partial name="_Header" />
    <!-- Topbar End -->
    @RenderBody()
    <!-- Footer Start -->
    <partial name="_Footer" />
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/clientpage/assets/lib/easing/easing.min.js"></script>
    <script src="~/Content/clientpage/assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Content/clientpage/assets/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Content/clientpage/assets/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Content/clientpage/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>

